@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-size: clamp(1.25rem, calc(1.34rem + -0.12vw), 1.31rem);
  font-weight: 400;
  line-height: 36px;
  color: #011341;
  overflow-x: hidden;
  background-color: #fff;
  margin: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.article-page__list, .article-hero__social-media-list, .article-hero__star-list, .article-investing__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.btn-amazon {
  padding: 20px 30px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
  text-transform: capitalize;
  background-color: #2c67fe;
  -webkit-box-shadow: 20px 20px 50px -10px rgba(44, 103, 254, 0.2);
          box-shadow: 20px 20px 50px -10px rgba(44, 103, 254, 0.2);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.btn-amazon:focus, .btn-amazon:hover {
  color: #fff;
  background-color: #5787ff;
}

.section-padding {
  padding: 70px 0;
}

.white-background {
  background-color: unset;
}

.article__frame-img {
  position: relative;
  padding: 30px;
  background-color: #fcfcfc;
}

.btn-search {
  position: absolute;
  bottom: 30px;
  left: -20px;
  width: 66px;
  height: 60px;
  cursor: pointer;
  background-image: url("../../icons/icon-search.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40%;
  background-color: #2c67fe;
  -webkit-box-shadow: 1px 24px 50px -5px rgba(44, 103, 254, 0.3);
          box-shadow: 1px 24px 50px -5px rgba(44, 103, 254, 0.3);
}

.btn-search__right {
  bottom: 20px;
  right: 20px;
  left: unset;
}

.main-article-header {
  position: relative;
  z-index: 8;
}

.article-make-money__title,
.article-hero__title {
  font-weight: 700;
}

.article-hero__title {
  max-width: 650px;
  margin-bottom: 37px;
}

.article-page__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 70px;
}

.article-page__link {
  position: relative;
  font-size: 1rem;
  text-decoration: none;
  color: #383838;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.article-page__link:hover, .article-page__link:focus {
  color: #2c67fe;
}

.article-page__link:after,
.article-page__link:after {
  position: absolute;
  display: block;
  content: '';
  width: 0;
  height: 2px;
  background-color: #2c67fe;
  outline: none;
  border: none;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.article-page__link:focus:after,
.article-page__link:hover:after {
  width: 100%;
}

.article-page-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
}

.article-hero__author-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 140px;
}

.article-hero__data {
  font-size: 0.8rem;
  line-height: 16px;
  color: #38383863;
}

.article-hero__author-name {
  font-size: 0.625rem;
  line-height: 15px;
  font-weight: 700;
}

.article-hero__header {
  padding: 40px;
  background-color: #fff;
}

.article-hero__article {
  position: relative;
  padding-inline: 40px;
  max-width: 773px;
  background-color: #fff;
}

.article-hero__article::before {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  content: '';
  width: 1px;
  height: 189px;
  background-color: #cdcdcd;
}

.article-hero__social-media-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  gap: 40px;
}

.article-hero__star-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[5];
      grid-template-columns: repeat(5, auto);
  gap: 5px;
}

.article-hero__social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 620px;
}

.article-hero__social-media-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  fill: #d9d9d9;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.article-hero__social-media-icon:hover {
  fill: #2c67fe;
}

.icon-menu:hover {
  fill: #2c67fe;
}

.icon-share {
  position: relative;
  z-index: 1;
}

.icon-share::before {
  position: absolute;
  top: -13px;
  left: -12px;
  display: block;
  content: '';
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: rgba(217, 217, 217, 0.176);
  z-index: -1;
}

.article-hero__author-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  margin-bottom: 37px;
}

.article-hero__paragraph-first {
  margin-bottom: 47px;
}

.banner-right-img {
  background-image: url("../../img/banner-right-alexa.jpg");
  background-repeat: no-repeat;
  background-position: 100% 23%;
  background-size: 15%;
}

.article-make-money__header {
  position: relative;
  padding: 0 40px 40px 40px;
  background-color: #fff;
}

.article-make-money__header::after {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  content: '';
  width: 1px;
  height: 189px;
  background-color: #cdcdcd;
}

.article-make-money__title {
  margin-bottom: 36px;
}

.article-make-money__description {
  max-width: 620px;
}

.article-make-money-item,
.article-make-money__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  gap: 20px;
}

.article-make-money-item__count,
.article-make-money__count {
  font-size: clamp(1.31rem, calc(0.36rem + 4.76vw), 3.75rem);
  font-weight: 700;
  color: #f3f3f3;
}

.article-make-money-item___header,
.article-make-money__item-header {
  font-size: clamp(1.31rem, calc(1.09rem + 1.1vw), 1.88rem);
  font-weight: 700;
  margin-bottom: 30px;
}

.article-make-money-item__description,
.article-make-money__item-description {
  color: #383838;
}

.article-make-money-item {
  position: relative;
  padding-left: 77px;
  margin-bottom: 35px;
  gap: 70px;
  margin-top: 50px;
}

.article-make-money-item::after {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  content: '';
  width: 1px;
  height: 189px;
  background-color: #cdcdcd;
}

.article-make-money-item__description {
  max-width: 720px;
}

.article-make-money__frame-description {
  font-size: 1.5rem;
  color: #bebebe;
}

.article-make-money__paragraph-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 60px;
}

.article-make-money__paragraph-item {
  max-width: 800px;
}

.article-make-money__paragraph-item:not(:last-child) {
  margin-bottom: 30px;
}

.article-make__amazon-header {
  font-weight: 700;
  margin-bottom: 20px;
}

.article-make__other-sub-header {
  color: #727272;
  font-weight: 700;
}

.article-make-money__text {
  position: relative;
  padding-left: 120px;
  background-color: #fff;
}

.article-make-money__text::before {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  content: '';
  width: 1px;
  height: 100%;
  background-color: #cdcdcd;
}

.article-make-money__list {
  background-color: #fff;
  margin: 0;
}

.article-make__amazon-owns {
  margin-bottom: 60px;
  max-width: 830px;
}

.article-investing__header {
  margin-bottom: 50px;
}

.article-investing__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 50px 1fr;
      grid-template-columns: auto 50px 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 100px;
  height: 200px;
}

.article-investing__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100px 1fr;
      grid-template-columns: 100px 1fr;
  gap: 45px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article-investing__item-text {
  font-size: 1.875rem;
  line-height: 45px;
}

.article-investing__item-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  gap: 30px;
}

.article-investing__step {
  font-size: clamp(1.31rem, calc(0.61rem + 3.54vw), 3.13rem);
  font-weight: 700;
}

.article-investing__count {
  font-size: clamp(1.31rem, calc(0.61rem + 3.54vw), 3.13rem);
}

.article-investing__sub-description {
  max-width: 727px;
  font-size: clamp(1.31rem, calc(1.09rem + 1.1vw), 1.88rem);
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
}

.article-investing__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
}

.article-investing__item {
  padding: 30px 50px;
}

.icon-click {
  color: #fff;
  background-color: #a6c4ff;
}

.icon-register {
  color: #011341;
  background-color: #f8f8f8;
}

.icon-verified {
  color: #fff;
  background-color: #1d1d1d;
}

.article-investing__description {
  color: #383838;
  max-width: 1072px;
  margin-bottom: 20px;
}

.article-investing__title {
  max-width: 700px;
  font-size: clamp(1.31rem, calc(1.09rem + 1.1vw), 1.88rem);
  font-weight: 700;
  line-height: 45px;
  margin-bottom: 30px;
}

.article-investing__note-header {
  font-weight: 700;
}

.article-investing__link {
  display: inline-block;
  margin-left: 10px;
}

.article-investing__note-container {
  position: relative;
  padding: 50px;
  margin-top: 50px;
  background-color: #f9f9f9;
  border-left: 9px solid #2c67fe;
}

.article-investing__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article-page-footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article-page__link-footer {
  color: #fff;
}

.article-page-footer,
.article-page-footer__menu {
  background-color: #262626;
}

.article-page-footer__all-rights-reserved {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  color: rgba(255, 255, 255, 0.2);
  background-color: #202020;
  padding: 20px 0;
}

.article-page-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.article-page-footer__menu {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 50px 0;
}

.article-hero-section {
  background-image: url("../../img/main-hero-amazon.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
  overflow-x: visible;
}

.overflow-left {
  padding-left: unset;
}

.article-hero-section {
  padding: 280px 0 80px;
}

.banner-left-img {
  background-image: url("../../img/banner-left-amazon.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 10rem;
  background-color: #fff;
}

.article-make__money__frame-description {
  margin-bottom: 40px;
}

.main-article__sidebar-menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 80%;
  background-color: #fff;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  z-index: 10;
}

.main-article__sidebar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-article__sidebar-menu.show-menu {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.icon-close {
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 30px;
}

.main-article__overlay {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.617);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  z-index: 1;
}

.main-article__overlay.show-menu {
  display: block;
}

.modal-header {
  border: none;
}

.btn-close {
  background-image: url("../../icons/icon-close.svg");
}

.modal-body__text {
  margin-top: 20px;
  color: #383838;
}

.black-shadow {
  -webkit-filter: drop-shadow(70px 70px 150px rgba(0, 0, 0, 0.07));
          filter: drop-shadow(70px 70px 150px rgba(0, 0, 0, 0.07));
}

@media (max-width: 1198px) {
  .article-hero__title {
    font-size: clamp(1.31rem, calc(1.24rem + 0.37vw), 1.5rem);
  }
  .article-hero__social-media-icon {
    width: 26px;
    height: 18px;
  }
  .icon-share::before {
    top: -15px;
    left: -10px;
  }
}

@media (max-width: 991.98px) {
  .article-page__list {
    display: none;
  }
  .banner-left-img {
    background-image: url("../../img/banner-left-amazon__991.png");
    background-position: -70px 10rem;
  }
  .main-article__sidebar-menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px;
    gap: unset;
  }
  .article-hero-section {
    padding: 150px 0 80px;
  }
  .article-make-money-item {
    padding-left: 45px;
    gap: 45px;
  }
  .article-make-money__list {
    padding: 0 0 0 20px;
  }
  .article-make-money__text {
    padding-left: 40px;
  }
  .article-investing__item {
    height: auto;
    padding: 30px;
    gap: 40px;
  }
  .article-investing__step {
    font-size: clamp(1.31rem, calc(1.09rem + 1.1vw), 1.88rem);
  }
  .article-investing__item-header {
    gap: 30px;
  }
  .article-investing__body {
    -ms-grid-columns: 50px 1fr;
        grid-template-columns: 50px 1fr;
  }
  .article-investing__item-text {
    font-size: 1.25rem;
    line-height: 30px;
  }
  .article-investing__count {
    font-size: 2.5rem;
  }
  .icon-click__img {
    width: 120px;
  }
}

@media (max-width: 767.98px) {
  .section-padding {
    padding: 50px 0;
  }
  .overflow-left {
    padding-left: calc(var(--bs-gutter-x) * 0.5);
  }
  .article-hero-section {
    padding: 120px 0 80px;
  }
  .banner-right-img,
  .banner-left-img {
    background-image: url("");
  }
  .article-investing__description,
  .article-investing__note-text,
  .article-make-money__paragraph-item,
  .article-make-money__paragraph-text,
  .article-make__amazon-paragraph,
  .article-hero__paragraph,
  .article-make-money__description,
  .article-make-money__item-description,
  .article-make-money-item__description {
    font-size: 1rem;
    line-height: 24px;
  }
  .article-make-money__title {
    margin-bottom: 24px;
  }
  .icon-share::before {
    width: 36px;
    height: 36px;
    top: -9px;
    left: -5px;
  }
  .article-make-money-item,
  .article-make-money__list {
    padding: 0;
  }
  .article-make-money-item::after {
    display: none;
  }
  .article-make-money-item {
    gap: 30px;
  }
  .article-make-money__header {
    padding: 70px 40px 40px;
  }
  .article-make-money__header::after {
    margin-bottom: 40px;
    width: 80%;
    height: 1px;
    right: 50px;
    top: 30px;
  }
  .banner-left-img {
    background-image: url("../../img/banner-left-amazon__767.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    padding: 240px 0 0;
  }
  .white-background {
    background-color: #fff;
  }
  .article-make-money__text {
    padding-left: 0;
  }
  .article-make-money__text::before {
    display: none;
  }
  .article-make__money__frame-description {
    font-size: 14px;
  }
  .article-make__other-sub-header {
    margin-bottom: 20px;
  }
  .article-make__amazon-header {
    text-align: left !important;
  }
  .article-make__other-sub-header,
  .article-investing__item-text {
    font-size: 1rem;
    line-height: 24px;
  }
  .article-investing__body {
    -ms-grid-columns: 30px 1fr;
        grid-template-columns: 30px 1fr;
  }
  .article-investing__count {
    font-size: 1.7rem;
  }
  .article-investing__title {
    font-size: clamp(1.31rem, calc(1.09rem + 1.1vw), 1.88rem);
    line-height: 36px;
  }
  .article-investing__step {
    font-size: clamp(1.25rem, calc(1.34rem + -0.12vw), 1.31rem);
  }
  .article-hero-section {
    padding: 120px 0 50px;
  }
  .article-make__amazon-owns {
    margin-bottom: 40px;
  }
  .article-investing__link {
    margin-left: unset;
  }
}

@media (max-width: 575.98px) {
  .article-make-money-item__count,
  .article-make-money__count {
    display: none;
  }
  .btn-search,
  .btn-search__right {
    left: 10px;
    top: 10px;
    right: unset;
    width: 30px;
    height: 30px;
  }
  .article-make__money__frame-description {
    line-height: 21px;
  }
  .article-investing__step {
    font-size: 1.7rem;
  }
  .article-investing__note-container {
    padding: 30px;
  }
  .section-padding {
    padding: 50px 10px;
  }
  .article-make-money__header {
    padding: 70px 40px 40px;
  }
  .article-make-money-item {
    gap: 0;
  }
  .article-investing__link {
    font-size: 1rem;
  }
  .article-page-footer__menu {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 290px;
        grid-template-columns: 290px;
    gap: 50px;
  }
  .banner-right-img,
  .article-make-money-item,
  .article-page-footer__menu,
  .article-page-footer__all-rights-reserved {
    padding-inline: 10px;
  }
  .article-page__list-footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 20px;
  }
  .article-investing__note-header {
    font-size: clamp(1.25rem, calc(1.34rem + -0.12vw), 1.31rem);
  }
  .article-investing__note-text {
    font-size: 14px;
  }
  .article-investing__title {
    line-height: 30px;
  }
  .article-hero__article {
    padding: 0 12px;
    margin-top: 24px;
  }
  .overflow-left {
    padding-left: 0;
    border-bottom: 1px solid #f5f5f5;
  }
  .article-hero__header {
    padding: 40px 12px;
  }
  .article-hero__article::before {
    display: none;
  }
  .article-hero__social-media-list {
    gap: 10px;
  }
  .article-make__other-sub-header {
    text-align: center;
  }
  .article-make__money__frame-description {
    margin-bottom: 30px;
  }
  .article-investing__item {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 35px 1fr;
        grid-template-columns: 35px 1fr;
    -ms-grid-rows: 30px 1fr;
        grid-template-rows: 30px 1fr;
        grid-template-areas: 'icon-step article-investing__item-header' 'icon-step article-investing__item-text';
    gap: 10px 30px;
  }
  .article-investing__item-header {
    -webkit-box-align: inherit;
        -ms-flex-align: inherit;
            align-items: inherit;
  }
  .icon-click__img {
    grid-area: icon-click__img;
  }
  .article-investing__item-header {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: article-investing__item-header;
  }
  .article-investing__item-text {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: article-investing__item-text;
  }
  .article-page-logo {
    width: 42px;
    height: 17px;
  }
  .article-page-nav {
    padding: 20px 0;
  }
  .btn-amazon__menu {
    font-size: 13px;
    padding: 15px 10px;
  }
  .modal-menu {
    display: block;
    width: 34px;
    height: 33px;
    background-color: #000;
  }
  .article-page-logo__footer {
    width: 90px;
  }
}

@media (max-width: 375px) {
  .article-make-money-item___header,
  .article-make-money__item-header {
    margin-bottom: 10px;
  }
  .article-make-money__header::after {
    top: 30px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .article-hero-section {
    padding: 90px 0 50px;
  }
  .banner-left-img {
    padding: 150px 0 0;
  }
}

@media (max-width: 320px) {
  .article-hero__title,
  .article-make-money-item___header,
  .article-make-money__title,
  .article-make__amazon-header,
  .article-investing__title,
  .article-investing__sub-description {
    font-size: 18px;
    line-height: 27px;
  }
  .article-make-money-item___header {
    line-height: 36px;
  }
  .article-investing__link {
    font-size: 14px;
  }
  .article-make-money-item___header,
  .article-make-money__item-header {
    font-size: 1rem;
    margin-bottom: 0;
  }
  .article-make-money__title {
    margin-bottom: 14px;
  }
  .article-make-money__header {
    padding: 50px 20px 30px;
  }
}
/*# sourceMappingURL=article-page.css.map */